.app {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
  }
  
  .reviewList{
    display: flex;
    flex-direction: row;
  }

  .form {
    border: 1px solid lightgrey;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 1rem;
    width: 20rem;
    border-radius: 15px;
  }
  
  input,
  #restaurant {
    padding-top:10px;

  }

  input,
  textarea,
  button {
    display: block;
    margin: 0.5rem auto 0 auto;
    padding: 0.25rem 0.5rem;
    padding-bottom: 0.5px;
  }
  
  input,
  textarea {
    width: calc(100% - 1rem);
    padding-top: 0.5px;
  }
  
  button {
    border: 1px solid #0d0d0d;
    cursor: pointer;
  }
  
  h1,
  h2,
  h3 {
    margin: 0 0 1rem 0;
  }
  
  .reviewItem {
    border: 1px solid #0d0d0d;
    box-shadow: 1px 1px #0d0d0d, 2px 2px #0d0d0d;
    padding: 1rem;
    width: 20rem;
    margin-top: 1rem;
    margin: 1em 1em 0;
  }
  