body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#registrationForm.container {
  align-items: left;
  justify-content: left;
  color: black;
  border: 1px solid lightgrey;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  padding-top: 20px;

}

#img.registrationImage{
  background-color: rgb(33,37,42); 
  margin: 50px 10px;
  align-items: center;
  padding-top: 50px;
  margin-top: 50px;
}


label {
  color:black;
}

#card-body-text-center {
  color: blue;
  }